<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>PoliOnline - Error</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../../css/error.css" th:href="@{/css/error.css}"/>

	<link rel="icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
	<link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon"> 
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1 th:text="${code}">400</h1>
			</div>
			<h2>Ops... You got an error!</h2>
			<p th:if="${message != null}" th:text="${message}">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			<a href="index.html" th:href="@{GoToHome}">Back To Homepage</a>
		</div>
	</div>

</body>

</html>
